@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:wght@400;600;700&display=swap');

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background: #000;
  color: #fff;
  font-family: 'Familjen Grotesk', sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
}

/* Header & Navbar */

.main-header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
  width: 100%;
  height: 100px;
  padding: 0 30px;
}

/* Logo */

.logo {
  width: 210px;
  height: auto;
}

.logo img {
  display: block;
  width: 100%;
  height: auto;
}

/* Desktop Menu */

.desktop-main-menu {
  margin-right: 50px;
}

.desktop-main-menu ul {
  display: flex;
}

.desktop-main-menu ul li {
  position: relative;
  margin-right: 20px;
  padding-bottom: 2px;
}

/* Menu Item Bottom Border */

.desktop-main-menu ul li a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #fff;
  transform: scaleX(0);
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transform-origin: right center;
}

.desktop-main-menu ul li a:hover::after {
  transform: scaleX(1);
  transform-origin: left center;
  transition-duration: 0.4s;
}
